; reference for keycodes https://gist.github.com/joshuawagner/b6d53fba5e361906f38832feee027cb3
{
    :devices {
        :external [{:is_built_in_keyboard false}]
        :no_right_option [
            {:vendor_id 1671 :product_id 28928} ; Cherry KW 7100 Mini
        ]
    }
    :main [
        {:des "add right_option" :rules [
            [:condi :no_right_option]
            [:##right_control :right_option]
        ]}
        {:des "swap option and command" :rules [
            [:condi :external]
            [:##left_option :left_command]
            [:##left_command :left_option]
            [:##right_option :right_command]
            [:##right_command :right_option]
        ]}
        {:des "hyper key" :rules [
          [:##caps_lock :f18 nil {:alone :escape}]
        ]}
    ]
}
