; reference for keycodes https://gist.github.com/joshuawagner/b6d53fba5e361906f38832feee027cb3
{
    :devices {
        :external [{:is_built_in_keyboard false}]
        :no_right_option [
            {:vendor_id 1671 :product_id 28928} ; Cherry KW 7100 Mini
        ]
    }
    :main [
        {:des "add right_option" :rules [
            [:condi :no_right_option]
            [:##right_control :right_option]
        ]}
        {:des "swap option and command" :rules [
            [:condi :external]
            [:##left_option :left_command]
            [:##left_command :left_option]
            [:##right_option :right_command]
            [:##right_command :right_option]
        ]}
        {:des "hyper key" :rules [
            [:##caps_lock ["hyper" 1] nil {:afterup ["hyper" 0] :alone :escape}]
        ]}
        {:des "hyper layer" :rules [
            [:condi ["hyper" 1]]

            [:escape :play_or_pause] ; media controls
            [:f1 :volume_down]
            [:f2 :volume_up]

            [:tab :!Ttab] ; tab controls
            [:2 :!CSopen_bracket]
            [:3 :!CSclose_bracket]
            
            [:comma :page_up] ; page controls
            [:period :page_down]

            [:##h :left_arrow] ; arrow keys
            [:##j :down_arrow]
            [:##k :up_arrow]
            [:##l :right_arrow]

            [:delete_or_backspace :delete_forward]
        ]}
        {:des "hyper layer passthrough" :rules [
            [:condi ["hyper" 1]]

            [:grave_accent_and_tilde :!TOCgrave_accent_and_tilde] ; toggle app space assignment
            [:1 :!TOC1] ; focus left
            ; [:2 :!TOC2] ; tab left
            ; [:3 :!TOC3] ; tab right
            [:4 :!TOC4] ; focus right
            [:5 :!TOC5] ; float app
            [:6 :!TOC6]
            [:7 :!TOC7]
            [:8 :!TOC8]
            [:9 :!TOC9]
            [:0 :!TOC0]
            [:hyphen :!TOChyphen]
            [:equal_sign :!TOCequal_sign]
            ; [:delete_or_backspace :!TOCdelete_or_backspace]

            ; [:tab :!TOCtab] ; switch tabs
            [:q :!TOCq] ; quick switch apps
            [:w :!TOCw] ; Web space
            [:e :!TOCe] ; Files space
            [:r :!TOCr] ; Programming space
            [:t :!TOCt] 
            [:y :!TOCy]
            [:u :!TOCu]
            [:i :!TOCi] ; vim up
            [:o :!TOCo]
            [:p :!TOCp]
            [:open_bracket :!TOCopen_bracket]
            [:close_bracket :!TOCclose_bracket]
            [:backslash :!TOCbackslash]

            [:a :!TOCa] ; AI space
            [:s :!TOCs] ; Read space
            [:d :!TOCd] ; Songs space
            [:f :!TOCf] ; Terminal space
            [:g :!TOCg] ; vim down
            ; hjkl/hnei for arrow keys
            [:semicolon :!TOCsemicolon]
            [:quote :!TOCquote]
            [:return_or_enter :!TOCreturn_or_enter]

            [:z :!TOCz] ; pin tab (IDE)
            [:x :!TOCx] ; eXamine space
            [:c :!TOCc] ; Chat space
            [:v :!TOCv]
            [:b :!TOCb]
            [:n :!TOCn]
            [:m :!TOCm]
            ; [:comma :!TOCcomma] ; page up/down
            ; [:period :!TOCperiod]
            [:slash :!TOCslash]

            [:spacebar :!TOCspacebar]
            [:left_arrow :!TOCleft_arrow] ; for tiling
            [:down_arrow :!TOCdown_arrow]
            [:up_arrow :!TOCup_arrow]
            [:right_arrow :!TOCright_arrow]
        ]}
    ]
}
