/* e-Ink optimized CSS, designed for KOReader */

h2 { /* Heading line */
  margin-top: 0px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #404040;
  color: black;
  font-size: 100%;
  font-weight: normal;
}

span.s1 { /* Single-definition block */
  display: block;
  margin: 5px 0 5px 20px;
}
ul { /* Unordered list */
  margin: 5px 0 5px 20px;
  padding: 0px;
  list-style-type: none;
}
div.sub ul { /* Unordered list inside a non-illustrative block line */
  margin-top: 1px;
  margin-bottom: 1px;
}
li { /* List item */
  margin: 7px 0 7px 0;
  padding: 0px;
  list-style-type: none;
}
div.sub li { /* List items inside a non-illustrative block line */
  margin: 1px 0 1px 0;
}

div.ib, /* Illustrative block */
div.eb { /* Example/extra block */
  margin: 7px 0 7px 0;
  font-size: 80%;
}
span.ql, /* Illustrative block line */
div.sub { /* Non-illustrative block (sub-entry) line */
  margin: 0 0 0 30px;
  text-indent: -10px;
}
span.ql { /* Illustrative block line */
  display: block;
}
div.dg div.sub {
  margin-left: 10px;
}

div.phg, /* Phrase group block */
div.dg, /* Derivative group block */
span.cb { /* Notes block */
  margin: 15px 0 15px 20px;
  font-size: 90%;
}
span.cb { /* Notes block */
  display: block;
}
span.cb:before {
  content: "¶ ";
  color: #4A6C9B;
  font-weight: bold;
}
div.phg div.sub, /* Phrase group block line */
div.dg div.sub { /* Derivative group block line */
  margin-top: 5px;
  margin-bottom: 5px;
}
div.phg span.gr { /* Phrase group title */
  font-weight: bold;
}
div.phg div.sub span.gr { /* Phrase group non-title grammar */
  font-weight: normal;
}

div.et { /* Etymology block */
  margin: 10px 2px 0 2px;
  padding: 4px 8px;
  background-color: #FFFFCC;
  font-size: 80%;
}

span.hw { /* Headword */
  font-size: 110%;
  font-weight: bold;
}
span.for { /* Foreign pronunciation marker */
  font-size: 80%;
  font-style: italic;
}
span.pron { /* Pronunciation */
  color: dark-gray;
  font-size: 90%;
  font-weight: normal;
}
span.v { /* Variant form */
  font-weight: bold;
}

b.lnk,
div.sub b { /* Defined phrase */
  color: #4A6C9B;
}
b.num { /* Sense numbering */
  color: black !important;
}
b.rm { /* Roman numeral sense numbering */
  font-family: "Times";
}

span.q { /* Quote */
  color: #0b590b;
}
span.a { /* Quote author */
  color: #2F4F4F;
  font-weight: bold;
}
span.w { /* Quote work */
  color: #2F4F4F;
  font-style: italic;
  font-weight: bold;
}

span.use, /* Usage */
span.ge { /* Geographical name */
  color: gray;
  font-style: italic;
}
span.ctx { /* Part of speech */
  color: #3a3a73;
  font-weight: bold;
  font-style: italic;
}
span.gr { /* Grammatical phrase */
  color: gray;
}

span.dg { /* Date phrase */
  color: #3a3a73;
  font-style: italic;
}
span.d { /* Date */
  color: black;
  font-size: 80%;
  font-style: italic;
  font-weight: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}

span.xr, /* Cross-referenced entry */
b.lnk {
  font-weight: bold;
  font-variant: small-caps;
}
span.xr span.ctx, /* Cross-referenced entry part-of-speech */
b.lnk span.ctx {
  font-variant: normal;
}
span.xs { /* Cross-referenced entry sense */
  color: black;
  font-weight: bold;
  font-variant: small-caps;
}

span.sc { /* Small caps */
  font-variant: small-caps;
}

sup, /* Superscript */
sub { /* Subscript */
  font-size: 70%;
  font-style: normal !important;
}

span.obs { /* Obsolete marker */
  font-size: 70%;
  vertical-align: top;
}

span.ab { /* Abbreviation */
  font-weight: bold;
}

span.eti, /* Inline etymology */
span.et { /* Etymology block marker ("ORIGIN:") */
  color: gray;
  font-style: italic;
}
span.et { /* Etymology block marker ("ORIGIN:") */
  display: none;
}

span.r { /* Regular text inside italic sequence */
  color: #3a3a73;
  font-weight: normal;
  font-style: normal;
}